@import "tailwindcss";
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 320px;
  /* background: grey;  */
  min-height: 100vh;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
